$max_xs: 479.9px;
$min_xs: 480px;

$max_s: 575.9px;
$min_s: 576px;

$max_sm: 767.9px;
$min_sm: 768px;

$max_md: 991.9px;
$min_md: 992px;

$max_lg: 1139.9px;
$min_lg: 1140px;

$max_xl: 1460.9px;
$min_xl: 1470px;
