html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;

    background-color: $bg-body;

    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: $font-color;
}
